[requires]
python_version = '3.9'

[packages]
momba = { version = ">=0.5.5", extras = ["engine"] }
asciimatics = { version = ">=1.13.0" }
click = { version = ">=8.0.3" }
matplotlib = { version = ">=3.4.3" }